
ul{
    list-style-type: none;
    padding: 0px;
    border: 0px;
    overflow: hidden;
    background-color: rgb(236, 135, 99);
}

li a{
    float: left;
}

li a{
    text-decoration: none;
    display: block;
    color:white;
    text-align: center;
    padding: 15px;
}

li a:hover{
  background-color:red;
}